force-app/main/default/flows/Record_Triggered_Onboarding_Request_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Partner_For_Registration_Confirmation</name>
        <label>Send Email To Partner For Registration Confirmation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Create_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Onboarding Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PartnerRegistrationEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Record Triggered : Onboarding Request - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered : Onboarding Request - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Record</name>
        <label>Create Exception Record</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_To_Partner_For_Registration_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Onboarding_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PartnerRegistrationEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Name},&lt;br/&gt;&lt;br/&gt;&lt;br/&gt; We are thrilled to welcome you to our partner network and are excited to embark on this journey together. Your collaboration with us is an essential step towards mutual success, and we&apos;re confident that your expertise will greatly contribute to our shared goals.&lt;br/&gt;&lt;br/&gt; To begin the onboarding process, please click on the following URL:&lt;br/&gt;&lt;a href=&quot;https://fexleservices--dev5.sandbox.my.salesforce-sites.com/partnerOnboarding&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://fexleservices--dev5.sandbox.my.salesforce-sites.com/partnerOnboarding&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;This URL will direct you to our dedicated partner onboarding portal, where you&apos;ll find a forms to fill all the necessary details to get started. Our comprehensive onboarding process is designed to ensure a smooth integration into our ecosystem, enabling you to quickly start adding value to our partnership.&lt;br/&gt;&lt;br/&gt;Should you encounter any issues during the onboarding process or if you have any questions, please don&apos;t hesitate to reach out to our HR team at hr@fexle.com. We&apos;re here to assist you every step of the way. &lt;br/&gt;&lt;br/&gt;Once again, welcome to our partner family. We&apos;re looking forward to a prosperous collaboration and achieving great things together. &lt;br/&gt;&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;FEXLE Services Pvt Ltd&lt;/p&gt;</text>
    </textTemplates>
</Flow>
