force-app/main/default/flows/Record_Triggered_Account_After_Update1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Action</name>
        <label>Apex Action</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ZohoSignService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZohoSignService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Document_Verification</name>
        <label>Send Email For Document Verification</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Create_Records</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Records_Signed_Documents.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Onboarding - Documents Signed : Verification and Next Steps</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateForSignedDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Company_Account</name>
        <label>Send Email To Company Account</label>
        <locationX>1194</locationX>
        <locationY>1163</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Create_Exception_Records_For_Ready_To_Onboard_Comp</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Records.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Onboarding - Verification Completed: Gmail and HRMS Account Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateForCompanyAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Individual_Account</name>
        <label>Send Email To Individual Account</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Create_Exception_Records_For_Ready_To_Onboard_Individual</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Records.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Partner Onboarding - Verification Completed: Gmail and HRMS Account Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateForIndividualAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_SF_Admins</name>
        <label>Send Email To SF Admins</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>SendEmailToSfAdmins</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplates</name>
            <value>
                <elementReference>EmailTemplateForSfAdmins</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailToSfAdmins</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Links</name>
        <label>Assign Links</label>
        <locationX>1282</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varN_CountOfContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_AssignLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!varN_CountOfContacts}.) </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_AssignLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varF_ContactLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Contact_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Condition_For_Onboarding_Status_Values</name>
        <label>Check Condition For Onboarding Status Values</label>
        <locationX>1414</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Signature_Pending</name>
            <conditionLogic>(1 AND 2 AND 4) OR (7 AND 8 AND 9) AND ( 3 OR 5 ) AND 6 AND 10 AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signature Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NDA_Document_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Document_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSA_Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NDA_Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action</targetReference>
            </connector>
            <label>For Signature Pending</label>
        </rules>
        <rules>
            <name>For_Signed_Documents</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records_Signed_Documents</targetReference>
            </connector>
            <label>For Signed Documents</label>
        </rules>
        <rules>
            <name>For_Approved</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_SF_Admins</targetReference>
            </connector>
            <label>For Approved</label>
        </rules>
        <rules>
            <name>For_Ready_to_Onboard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Onboard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Records</targetReference>
            </connector>
            <label>For Ready to Onboard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Null_Condition</name>
        <label>Check Null Condition</label>
        <locationX>1458</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_Related_to_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Contact_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Which_Type_Of_Account</name>
        <label>Check Which Type Of Account</label>
        <locationX>1986</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Company_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_Related_to_Account</targetReference>
            </connector>
            <label>For Company Account</label>
        </rules>
        <rules>
            <name>For_Individual_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Individual_Account</targetReference>
            </connector>
            <label>For Individual Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varF_AccountLink</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} == &apos;Individual_Partner&apos;,LINKTO({!varF_PersonAccountName},  LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!$Record.Id}) , LINKTO({!$Record.Name},  LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!$Record.Id}))</expression>
    </formulas>
    <formulas>
        <name>varF_AccountName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} == &apos;Individual_Partner&apos;, {!varF_PersonAccountName}, {!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>varF_AccountRecordPageLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Record_Page_Base_Url}&amp;{!$Record.Id}&amp;&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>varF_ContactLink</name>
        <dataType>String</dataType>
        <expression>LINKTO({!Loop_Over_Contact_Records.Name},  LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!Loop_Over_Contact_Records.Id}) + &apos;&lt;Br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>varF_PersonAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} &amp; &apos; &apos; &amp; {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Record Triggered: Account - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered: Account - After Update</label>
    <loops>
        <name>Loop_Over_Contact_Records</name>
        <label>Loop Over Contact Records</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Contacts_Related_to_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Links</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_To_Company_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Records_For_Ready_To_Onboard_Comp</name>
        <label>Create Exception Records</label>
        <locationX>1458</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Records_For_Ready_To_Onboard_Individual</name>
        <label>Create Exception Records</label>
        <locationX>2250</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_Related_to_Account</name>
        <label>Get Contacts Related to Account</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>1986</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Which_Type_Of_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Account_Team_UserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Records_Signed_Documents</name>
        <label>Get User Records</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_For_Document_Verification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Account_Team_UserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Condition_For_Onboarding_Status_Values</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplateForCompanyAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User_Records.Name},&lt;br/&gt;&lt;br/&gt;I trust this email finds you in good health. I am writing to formally inform you that the document verification process for our new partner, {!varF_AccountLink}, has been successfully concluded. We are now poised to progress to the subsequent phase of the partner onboarding procedure, which entails the establishment of Gmail and HRMS accounts for the designated contacts.&lt;br/&gt;&lt;br/&gt;The individuals enumerated below have successfully completed the verification process, their accounts have been duly established, and they are now prepared for onboarding:&lt;br/&gt;{!varT_AssignLinks}&lt;br/&gt;&lt;br/&gt;These accounts bear significant importance in facilitating seamless communication and collaborative efforts as we fortify our operational ties with our esteemed partners. We cordially request your esteemed assistance in creating the requisite Gmail and HRMS accounts for the aforementioned individuals. This will provide them with the necessary access to resources and tools vital for their effective engagement in their designated roles.&lt;br/&gt;&lt;br/&gt;Should there be a need for additional information or specific procedural directives to facilitate the account creation process, please do not hesitate to communicate the same. Your prompt attention to this matter would significantly contribute to the unobtrusive onboarding of our valued partners, thereby elevating the overall caliber of our partnership interactions.&lt;br/&gt;&lt;br/&gt;We extend our heartfelt gratitude for your enduring support and cooperation in this endeavor.&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;FEXLE Services Pvt Ltd</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateForIndividualAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User_Records.Name},&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;I hope this email finds you well. We are pleased to inform you that we have successfully completed the document verification process for your onboarding with FEXLE. We appreciate your cooperation in providing the necessary documents promptly.&lt;br/&gt;&lt;br/&gt;As we move forward, we are excited to assist you in creating the essential accounts that will grant you access to the resources and tools necessary to excel in your role. These accounts include your Gmail and HRMS accounts. Both are imparative in ensuring seamless communication and effective engagement within our collaborative environment.&lt;br/&gt;&lt;br/&gt;{!varF_AccountLink}, we kindly request your assistance in creating your Gmail account. This account will enable you to stay connected with the FEXLE team, manage your communications efficiently, and access our suite of productivity tools.&lt;br/&gt;&lt;br/&gt;Your HRMS account will provide a centralized platform to conveniently manage your employee profile, leave applications, and other HR-related matters.&lt;br/&gt;&lt;br/&gt;Once again, congratulations on successfully completing the document verification process. We look forward to having you on board and contributing to our collective success.&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;FEXLE Services Pvt Ltd</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateForSfAdmins</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Admin,&lt;br/&gt;Greetings of the day!!&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;We are happy to inform you that the onboarding process at FEXLE has been successfully completed, along with the thorough verification of all the submitted documents. {!varF_AccountLink} as our partner, we appreciate your prompt response and cooperation throughout this journey.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;Here&apos;s a brief overview of the key steps that have been completed -&lt;/b&gt;&lt;br/&gt;&lt;b&gt;Partner Information : &lt;/b&gt;&lt;br/&gt;Your provided partner information has been carefully reviewed and integrated into our system. Your details are now securely stored, allowing us to collaborate more effectively.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;Document Verification : &lt;/b&gt;&lt;br/&gt;Our team diligently verified the documents submitted as part of the onboarding process. We are pleased to confirm that all the necessary documents are in order, ensuring a smooth partnership ahead.&lt;br/&gt;&lt;br/&gt;&lt;b&gt;Agreements and Contracts : &lt;/b&gt;&lt;/br&gt;The required agreements and contracts have been meticulously reviewed, signed, and recorded. This step solidifies our commitment to a successful collaboration.&lt;br/&gt;&lt;br/&gt;With this milestone achieved, we are excited to move forward and explore new opportunities together. Partnership with {!varF_AccountLink} holds great potential, and we look forward to a mutually beneficial relationship.&lt;br/&gt;&lt;br/&gt;Should you have any questions, concerns, or require further information, please don&apos;t hesitate to reach out to us. Our dedicated team is here to assist you every step of the way.&lt;br/&gt;&lt;br/&gt;Thank you once again for choosing to partner with FEXLE. We&apos;re eager to embark on this journey of growth and success with you.&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;Best Regards,&lt;br/&gt;FEXLE Services Pvt Ltd</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplateForSignedDocuments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_User_Records_Signed_Documents.Name},&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;I trust this email reaches you in good health. I am writing to formally apprise you that the requisite documents essential for the partner onboarding procedure have undergone a comprehensive review and have been duly executed by &lt;a href=&quot;{!varF_AccountRecordPageLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!varF_AccountName}&lt;/a&gt;. This development marks a significant and noteworthy advancement in our ongoing partnership.&lt;br/&gt;&lt;br/&gt;However, before we progress further, I kindly request your attention to a critical step – the verification of the signed documents. Your thorough review and confirmation of the accuracy of these documents are crucial to ensure that all details are correct and aligned. By doing so, we can minimize any potential discrepancies and disruptions as we advance in the onboarding process.&lt;br/&gt;&lt;br/&gt;To facilitate this, I have included a summary of the signed documents below for your convenience:&lt;br/&gt;Non-Disclosure Agreement (NDA) Document&lt;br/&gt;Vendor Agreement&lt;br/&gt;&lt;br/&gt;Your swift completion of the document verification process will ensure that we stay on track and keep the partnership progress on a positive trajectory.&lt;br/&gt;&lt;br/&gt;Thank you for your dedication and cooperation throughout this process. We value your commitment and look forward to a prosperous partnership ahead.&lt;br/&gt;&lt;br/&gt;Please feel free to reach out if you have any queries or require further assistance.&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;Best regards,&lt;br/&gt;FEXLE Services</text>
    </textTemplates>
    <variables>
        <name>varN_CountOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_AccountUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AssignLinks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_HrUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OffboardingEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_SFAdminEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
